<section class="hero-image">
    <div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
        <img src="dog" alt="placeholder dog">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
        <div class="media-content">
            <p class="title is-4">Big Line</p>
            <p class="subtitle is-6">Smaller Line</p>
        </div>
        </div>

        <div class="content breedInfo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>link?</a>.
        </div>
    </div>
    </div>
</section>

<!-- card content
    Dog picture
    Breed Info
    Height & Weight
    Temperment
    Life Span

    Suggested Name - vote yes/no
 -->



